# Pytest & Coverage
coverage==6.2
packaging==21.3
pytest==6.1.0
pytest-cov==3.0.0
pytest-ordering==0.6
pytest-mock==3.10.0

# Pre-commit hooks
pre-commit==3.5.0
pydocstyle==6.1.1
requests==2.26.0
isort==5.10.1
black==23.3.0
